body {
    background-image: url(../images/background.png);
    background-size: 100%;
    font-family: 'Hammersmith One', sans-serif;
    color: white;
}

.col-md-6,
.col-md-3 {
    background-color: rgb(104, 106, 141);
    opacity: 0.9;
}

img {
    margin: 20px 0px;
}